/public/js
/node_modules
/target
/yarn.lock
/package-lock.json
/.shadow-cljs
/*.iml
/.nrepl-port
/.idea
resources/public/js
resources/public/css
resources/main.js
resources/*.js

.lsp

trunk.db

**/*/.DS_STORE
.DS_STORE
