/node_modules
/target
/.shadow-cljs
/*.iml
/.nrepl-port
/.idea
resources/public/js
# only ignore the tailwind output.
resources/public/css/site.css
resources/main.js
resources/*.js

releases
out
dist

.lsp
.log
.clj-kondo

trunk.db

**/*/.DS_STORE
.DS_STORE
