;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [
  [reagent "1.1.0"]]

 :builds
 {:main    {:target    :node-script
            :output-to "resources/main.js"
            :main      main.core/main}
  :preload {:target    :browser ; I don't know if this has to be a npm module.
            :output-to "resources/preload.js"
            ;; :main      main.preload/main}
            :modules   {:renderer {:init-fn main.preload/main}}}
  :renderer {:target     :browser
             :output-dir "resources/public/js"
             :modules    {:renderer {:init-fn renderer.core/start!}}}}}
